{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajoute une nouvelle catégorie :</h1>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="input" type='submit' value='Add category'>
        {{ form_end(form) }}
    </div>

{% endblock %}