{%  extends 'layoutEmail.html.twig' %}

{% block body %}
    <h1>New program <span class="title">{{ program.title }}</span> created</h1>
        <p>Hello, the new program {{ program.title }} has been created on Wild Series !</p>
        <p>Summary : {{program.summary }}</p>
{% endblock %}