@import "~bootstrap/scss/bootstrap";
@import 'variables';
@import 'navbar';

body {
    background-color: $primary;
    font-family: $font-family, 'Arial';
    color: $dark;
}

.block-body {
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: $dark;
}

a:hover{
    color: $secondary;
}

.link-return {
    padding-top: 20px;
}

h1 {
    color: $secondary;
    font-weight: bold;
}

.title-site {
    text-align: center;
}

.remove-margin {
    margin: 0px;
}

.poster {
    max-width: 25%;
}

.style-list {
    list-style: none;

}

.list-seasons {
    display: inline-block;
    padding : 10px;
}

.title-episode {
    font-size: large;
    margin: 0;
}

.input {
    background-color: $light;
    color: $dark;
    border: 1px solid $light;
    border-radius: 5px;
    margin-top: 10px;
}

.descriptif-episode {
    font-style: italic;
}






