@import "~bootstrap/scss/bootstrap";
@import 'variables';
@import 'navbar';

body {
    background-color: $primary;
    font-family: $font-family, 'Arial';
}

a {
    text-decoration: none;
    color: $dark;
}

a:hover{
    color: $secondary;
}

.remove-margin {
    margin: 0px;
}

.poster {
    max-width: 25%;
}

.list-seasons {
    list-style: none;

}

.list-seasons li {
    display: inline-block;
    padding : 10px;
}




